
.font{
    background-color: white;
    height: 35%;
    border-radius: 10px;
    display: flexbox;
    width: 70%;
    margin-left: 85px;
    
}
.titulo{
    text-align: center;
    padding-top: 1%;
}


.boton{
    margin-left: 350px;
    margin-bottom: 25px;
    margin-top: 5px;
   }
.mensaje{
   display: flex;
   margin-left: 20px;
    border-radius:5px;
    
}
.datedonation{
    margin-left: 5px;
    margin-right: 5px;
}
.tabla-container{
    background-color: aliceblue;
}
/* Puedes poner esto en src/App.css */
.sidebar-nav .nav-link,
.c-sidebar-nav .nav-link {
  color: #ffffff !important;
  transition: background 0.2s, color 0.2s;
}

.sidebar-nav .nav-link:hover,
.c-sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active,
.c-sidebar-nav .nav-link.active {
  background: #f2e6cf !important; /* Azul que combina con naranja */
  color: #000000 !important;
  .nav-icon{
    color: #000000 !important;
    
}
}
.nav-icon{
    color: #ffffff !important;
    
}

